// Colors
$primary-color: #023373;
$secondary-color: #007bff;
$text-white: #ffffff;

// Font sizes
$font-base: 1.2rem;
$font-large: 1.3rem;
$font-title: 2rem;

// Breakpoints
$bp-xs: 425px;
$bp-sm: 768px;
$bp-md: 1024px;
$bp-lg: 1440px;
